.graph{
    position: relative;
    svg{
        width: 160px;
        height: 160px;
    }

    &__bg{
        fill: transparent;
        stroke-width: 13px;
        stroke: #DFE8ED;
    }
    &__progress{
        fill: transparent;
        stroke-width: 13px;
        stroke: blue;
        stroke-linecap: round;
        stroke-dasharray: 452.16;
        // stroke-dashoffset: 60;
        transform: rotate(-90deg);
        transform-origin: 50% 50%;
        

        // &.active{
        //     animation: progress 1.5s ease-in-out;
        // }

        &--purple{
            stroke: #d74680;
        }
        &--green{
            stroke: #15c7a8;
        }
    
        &--orange{ 
            stroke:#eb7d4b;
        }
    }

    &__count{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        font-weight: 300;
        font-size: 46px;
        span{
            font-size: 32px;
        }
    }

    // @keyframes progress{
    //     0%{
    //         stroke-dashoffset: 452.16;
    //     }

    //     100%{
    //         stroke-dashoffset: 113.04;
    //     }
    // }
    
}